.bouncecrdscontainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
}
.card {
	overflow: hidden;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 25px;
	width: 200px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	aspect-ratio: 1;
}
.card .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
