.content {
	overflow: visible;
	position: relative;
	z-index: 1;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background: transparent;
}
.content-img {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 15px;
	width: 190px;
	opacity: 0;
	will-change: transform, filter;
	aspect-ratio: 1.1;
}
.content-img-inner {
	position: absolute;
	left: calc(-1 * 20px / 2);
	top: calc(-1 * 20px / 2);
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	background-position: 50% 50%;
	background-size: cover;
}
